/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--font-weight-card);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font-family);
  flex-direction: column;
  background-color: var(--background-color);
  margin: 100px auto 102px auto;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  outline: 2px solid var(--accent-color);
  position: relative;
}

.logo-group {
  font-weight: var(--font-weight-card);
  margin-block-end: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content-width {
  width: var(--width);
}

.theme-menu__list {
  display: grid;
  gap: 11px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  cursor: pointer;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 15px;
  top: 15px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  width: 14px;
  height: 14px;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-card);
  opacity: 0.6;
  animation: moveArrow 0.5s ease-in-out infinite alternate;
  position: absolute;
  left: 0;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0px auto 0px auto;
}

.article-list {
  display: grid;
  gap: 10px;
}

.card {
  outline: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin: 0px auto 42px auto;
  display: grid;
  font-size: 18px;
  position: relative;
}

.card-title {
  padding: 6px 10px 6px 10px;
  line-height: 21.78px;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 18px;
}

.card-img {
  width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  height: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  justify-self: center;
}

.bright {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(80%);
}

.blur {
  filter: blur(0.1rem);
}

.opacity {
  filter: opacity(0.9);
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(50%);
}

.effects {
  filter: sepia(1) contrast(1) brightness(80%);
}

.image-wrapper {
  position: relative;
  display: inline-block;
  margin: auto;
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 14px;
  font-weight: var(--font-weight-card);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

/*В случае отсутствия поддержки используем text-shadow как фоллбэк.*/
.label {
  text-shadow: 1px 1px 0 var(--label-stroke-color),
    -1px -1px 0 var(--label-stroke-color), 1px -1px 0 var(--label-stroke-color),
    -1px 1px 0 var(--label-stroke-color);
}

.card-text {
  margin: 25px 27px 25px 27px;
  line-height: 21px;
}

.card-text-student {
  margin: 0px 25px 25px 25px;
  line-height: 21px;
}

.card__buttons {
  width: 185px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-self: end;
  margin-bottom: 25px;
  margin-right: 27px;
  gap: 12px;
}

.card__icon-button {
  border-style: none;
  background-color: transparent;
  display: flex;
  border: 2px solid transparent;
  padding: 0;
  background: none;
  cursor: pointer;
  height: 38px;
  position: relative;
  top: 1px;
  left: 8px;
  transition: border-color 0.3s ease;
}

.button {
  border-style: none;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-card);
  line-height: 12.6px;
  color: var(--button-color);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button-save {
  justify-self: center;
  margin: 8px auto 103px auto;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  height: var(--height-button-save);
  gap: 3.5px;
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-card);
  line-height: 12.6px;
  color: var(--button-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.floppy {
  color: var(--button-color);
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
  stroke: var(--accent-color);
}

.button-save:hover .floppy {
  stroke: var(--button-text-color);
}

.button-save .button__text {
  padding: 2px;
  margin-top: 4.5px;
}

.dialog-id {
  position: fixed;
  inset: 0;
  background-color: var(--background-color);
  background: none;
  border: none;
}

.dialog-id::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  min-height: 191px;
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 14px;
  font-weight: var(--font-weight-card);
  padding: 30px;
}

.modal-message {
  display: flex;
  align-items: center;
  width: 293px;
  min-height: 63px;
}

.button-close {
  width: 293px;
  height: 38px;
}

.button-close:default {
  box-shadow: none;
}

.modal-message-text {
  color: var(--accent-color);
  text-transform: uppercase;
}

.floppy-dialog {
  top: 25px;
  left: 20px;
}

.ok-dialog {
  margin-top: 20px;
}
