/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--font-weight-card);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment:fixed;
  background-size: cover;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font-family);
  flex-direction: column;
  background-color: var(--background-color);
  margin: 100px auto 102px auto;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  outline: 2px solid var(--accent-color);
  position: relative;
}

.logo-group {
  font-weight: var(--font-weight-card);
  margin-block-end: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content-width {
  width: var(--width)
}

.theme-menu__list {
  display: grid;
  gap: 11px;
  margin-left: 20px;
  /*margin-right: clamp(8.3125rem, 4.7033rem + 15.3991vw, 18.5625rem);*/
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  content: '▶';
  left: 297px;
  /*position: absolute;
  top: 328px;
  left: 297px;*/
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0px auto 0px auto;

}

.article-list {
  display: grid;
  gap: 10px;
}

.card {
  outline: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin: 0px auto 42px auto;
  display: grid;
  font-size: 18px;
  position: relative;
}

.card-title {
  padding: 6px 10px 6px 10px;
  line-height: 21.78px;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: 18px;
}

.card-img {
  width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  height: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  justify-self: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 14px;
  font-weight: var(--font-weight-card);
  mix-blend-mode: hard-light;
  opacity: 0.5;


}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

/*В случае отсутствия поддержки используем text-shadow как фоллбэк.*/
.label {
  text-shadow: 1px 1px 0 var(--label-stroke-color), -1px -1px 0 var(--label-stroke-color),
               1px -1px 0 var(--label-stroke-color), -1px 1px 0 var(--label-stroke-color);
}


.card-text {
  margin: 25px 27px 25px 27px;
  line-height: 21px;
}

.card-text-student {
  margin: 0px 25px 25px 25px;
  line-height: 21px;
}

.card__buttons {
  /*width: 175px;*/
  width: 169px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-self: end;
  margin-bottom: 25px;
  margin-right: 33px;
}


.card__icon-button {
  border-style: none;
  background-color: transparent;
  /*margin: 0px 25px 25px auto;*/
  display: flex;
  justify-content: flex-start;
  padding: 2px 2px 2px 0px;
}

.card__like-button {

  border-style: none;
  background-color: transparent;
}

.border {
  outline: 2px solid #000000;
}

.footer {
  display: grid;
  margin: 0px auto 0px auto;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-card);
  line-height: 12.6px;
}

.button-save {
  justify-self: center;
  border-style: none;
  outline: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin: 50px auto 100px auto;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  height: clamp(5.25rem, 5.8882rem + -2.723vw, 3.4375rem);
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-card);
  line-height: 12.6px;
  padding: 11px 35px 11px 35px;

  /*outline: 2px solid #000000;*/
}