/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter-Variable", sans-serif;
  --accent-font-family: "PressStart2P-Regular";
  --font-weight-card: 400;
  --font-weight-title: 700;
  --background-color: #ffffff; /*Основная тема-светлая  */
  --accent-color: #000000;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      #d3d3d300 2px,
      #d3d3d300 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      #d3d3d300 2px,
      #d3d3d300 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --label-stroke-color: #FFFFFF; 
}

/* Стили при ширине окна просмотра <= 375px */
@media (width <= 375px) {
  .content-section {
    width: 100%; /* Растягиваем на всю ширину */
  }
}
